.similar-div {
  width: 25vw;
  margin: 10px;
  padding: 20px;
  background-color: grey;
  border-radius: 5px;
  color: white;
}

.job {
  background-color: #2c364c;
  max-width: 70vw;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.company-logo {
  height: 80px;
}

.similar-flex-title {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}
.title {
  margin: 0px;
}
.details {
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: space-between;
}

.flex-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  margin-top: 15px;
}

.heading {
  margin: 0px;
}

.para-line {
  line-height: 1.6;
}

.icon {
  margin-right: 5px;
}
