.similarDiv {
  width: 30vw;
  margin: 10px;
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  color:white;
}

.job {
  background-color: #2c364c;
  max-width: 70vw;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.companyLogo {
  height: 80px;
  padding: 10px;
}

.flexTitle {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.details {
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: space-between;
}

.flexDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  margin-top: 15px;
}

.heading {
  margin: 0px;
}
