.link-style {
  text-decoration: none;
  text-decoration-color: none;
  padding: 0px;
}

.job-item-list-item {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.job-item-div {
  background-color: #272727;
  border-radius: 10px;
  padding: 20px;
  max-width: 70vw;
}

.flex-title {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.job-item-company-logo {
  height: 90px;
  padding: 10px;
  margin-right: 5px;
}
.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.job-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  margin-top: 5px;
}
.flex-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-and-location {
  display: flex;
  flex-direction: row;
  min-width: 20vw;
  justify-content: space-around;
}

.description {
  line-height: 1.6;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 991px) {
  .job-item-div {
    max-width: 90vw;
  }
}
