.jobs-and-filters-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: black;
  color: white;
  min-height: 100vh;
}
.profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  margin-bottom: 15px;
  height: 25vh;
}

.profile-success-div {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 25vw;
  padding: 10px;
  color: black;
  border-radius: 30px;
  height: 25vh;
}

.profile-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.profile-head {
  color: #6366f1;
  font-weight: bolder;
}

.filters-div {
  width: 25vw;
  margin-right: 20px;
  position: sticky;
  top: 12vh;
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.jobs-list {
  padding: 0px;
}

.searchbar {
  padding: 5px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  color: white;
  width: 30vw;
}

.results-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70vw;
  padding: 20px;
}

.no-jobs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding: 20px;
}

.search-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 3px solid grey;
  border-radius: 2px;
  width: 30vw;
}
.search-icon {
  height: 30px;
  color: white;
  background-color: transparent;
  border: 0px;
}
.no-jobs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70vw;
}

.no-jobs-img {
  height: 50vh;
}

.loader-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-jobs-sub-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.retry-button {
  color: white;
  background-color: #6366f1;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  min-width: 75px;
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 70vh;
}
