.findjobsButton {
  background-color: #4f46e5;
  color: white;
  border: 0px solid;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
}
.home-ct {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  color: white;
}
.homeText {
  width: 40vw;
  padding: 50px;
}
