nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
}
li {
  list-style-type: none;
}
.links {
  display: flex;
  flex-direction: row;
  width: 20vw;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.headerPara {
  color: white;
}
.logoutButton {
  background-color: #4f46e5;
  color: white;
  border: 0px solid;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
}
.homeLogo {
  height: 75px;
  padding: 10px;
}
