.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 10vw;
  margin-bottom: 30px;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.cred-input {
  background-color: transparent;
  height: 35px;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-width: 2px;
  border-color: #64748b;
  border-radius: 5px;
  border-style: solid;
  color: white;
}

.login-button {
  width: 20vw;
  height: 30px;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  border: 0px;
}

.login-div {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #272727;
  padding: 30px;
  border-radius: 5px;
}

.hide-error-message {
  display: none;
}
.error-message {
  display: inline;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.input-label {
  font-weight: bold;
  font-size: 14px;
}
